
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  background-image: linear-gradient(to bottom right, #f6d5f7, #fbe9d7);
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.pokelist {
margin-top: 80px;
}

.modal-text {
  padding-left: 20px;
}

.modal-text:first-letter {
  text-transform: uppercase;
}

.pokeButton {
  background-color: #92f2c7;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border: none;
  width: 200px;
}


.pokeButton:first-letter {
  text-transform: uppercase;
}
